/* Your Website Styles */


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
	font-family: 'Gentium Basic', serif;
}



h1 {
	font-size: 40pt;
	font-family: 'Allan', cursive;
}

h3{
	font-size:24pt;
}